@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	@apply bg-gray-100;
}

.ReactModal__Overlay {
	@apply flex flex-col items-center justify-start pt-16 z-50;
	background-color: rgb(0, 0, 0, 0.3);
}

.ReactModal__Content {
	@apply shadow-lg w-auto h-auto;
	max-width: 90vw;
	max-height: 90vh;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background-color: #aaaaaa77;
}

*::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

.plan-tree-container::-webkit-scrollbar {
	width: 0px;
	height: 8px;
}

.rst__node {
	height: 35px !important;
}

.rst__rowWrapper {
	padding: 0 !important;
}

.rst__lineBlock::after,
.rst__lineBlock::before,
.rst__lineChildren::after {
	background-color: transparent !important;
}

.rst__rowWrapper {
	@apply bg-white;
}

/* .rst__row {
	@apply bg-indigo-50 !important;
} */

.rst__moveHandle {
	border-right-width: 0 !important;
	cursor: grab !important;
	@apply bg-white !important;
	background-image: none !important;
	background-size: 55% !important;
	box-shadow: none !important;
	border: none !important;
}

.expanded-directory .rst__moveHandle {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776'%3E%3C/path%3E%3C/svg%3E") !important;
}

.closed-directory .rst__moveHandle {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.rst__rowContents {
	box-shadow: none !important;
	border: none !important;
	background: none !important;
}

/* .rst__moveHandle:hover {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='rgb(79, 70, 229)' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'%3E%3C/path%3E%3C/svg%3E") !important;
} */

.rst__rowLandingPad {
	display: none !important;
}

.rst__tree button {
	box-shadow: none !important;
}

.rst__expandButton {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5'%3E%3C/path%3E%3C/svg%3E") !important;
}

.rst__collapseButton {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5'%3E%3C/path%3E%3C/svg%3E") !important;
}

.focused-directory,
.focused-directory .rst__moveHandle {
	@apply bg-indigo-100 !important;
}
