@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	@apply bg-gray-100;
}

.ReactModal__Overlay {
	@apply flex flex-col items-center justify-start pt-16 z-50;
	background-color: rgb(0, 0, 0, 0.3);
}

.ReactModal__Content {
	@apply shadow-lg w-auto h-auto;
	max-width: 90vw;
	max-height: 90vh;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background-color: #aaaaaa77;
}

*::-webkit-scrollbar-thumb {
	background-color: #aaa;
}
