@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	@apply bg-gray-100;
}

.ReactModal__Overlay {
	@apply flex flex-col items-center justify-start pt-16 z-50;
	background-color: rgb(0, 0, 0, 0.3);
}

.ReactModal__Content {
	@apply shadow-lg w-auto h-auto;
	max-width: 90vw;
	max-height: 90vh;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background-color: #aaaaaa77;
}

*::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

.plan-tree-container::-webkit-scrollbar {
	width: 0px;
	height: 8px;
}

.rst__node {
	height: 35px !important;
}

.rst__rowWrapper {
	padding: 0 !important;
}

.rst__lineBlock::after,
.rst__lineBlock::before,
.rst__lineChildren::after {
	visibility: hidden !important;
}

.rst__rowWrapper {
	@apply bg-white;
}

.rst__moveHandle {
	width: 20px !important;
	border-right-width: 0 !important;
	cursor: grab !important;
	/* background-image: none !important; */
	background-size: 100% !important;
	box-shadow: none !important;
	/* border: none !important; */
	@apply bg-white border-white !important;
	background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' style='width: 1em; height: 1em;vertical-align: middle;fill: rgb(156, 163, 175);overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M469.333333 256a85.333333 85.333333 0 1 1-85.333333-85.333333 85.333333 85.333333 0 0 1 85.333333 85.333333z m-85.333333 170.666667a85.333333 85.333333 0 1 0 85.333333 85.333333 85.333333 85.333333 0 0 0-85.333333-85.333333z m0 256a85.333333 85.333333 0 1 0 85.333333 85.333333 85.333333 85.333333 0 0 0-85.333333-85.333333z m256-341.333334a85.333333 85.333333 0 1 0-85.333333-85.333333 85.333333 85.333333 0 0 0 85.333333 85.333333z m0 85.333334a85.333333 85.333333 0 1 0 85.333333 85.333333 85.333333 85.333333 0 0 0-85.333333-85.333333z m0 256a85.333333 85.333333 0 1 0 85.333333 85.333333 85.333333 85.333333 0 0 0-85.333333-85.333333z' /%3E%3C/svg%3E") !important;
}

.rst__rowContents {
	box-shadow: none !important;
	border: none !important;
	background: none !important;
}

.rst__rowLandingPad {
	display: none !important;
}

.rst__tree button {
	box-shadow: none !important;
}

.rst__expandButton {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5'%3E%3C/path%3E%3C/svg%3E") !important;
}

.rst__collapseButton {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5'%3E%3C/path%3E%3C/svg%3E") !important;
}

.focused-directory,
.focused-directory .rst__moveHandle {
	@apply bg-indigo-100 !important;
}

.rst__highlightLineVertical,
.rst__highlightBottomLeftCorner,
.rst__highlightTopLeftCorner {
	display: none !important;
}
